*,
*:after,
*:before: {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    color: #111;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 0;
}

a {
    text-decoration: none;
    color: #111;
}

a:hover h2 {
    text-decoration: underline;
}

h1 {
    display: inline-block;
    font-weight: 100;
    margin: 0 0 0 0.5em;
}

h2 {
    font-weight: 400;
    margin: 0;
}

.header {
    background: #8f48da;
    color: #fff;
    border-style: ridge;
    text-shadow: -1px -1px 5px black;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0.5em 1em;
}

.icon-list {
    font-size: 1.5em;
    color: #FFF;
}

.slide-menu {
    position: absolute;
    top: 3.5em;
    padding: 1em;
    border-radius: 0 40px 40px 0;
    border: 2px solid white;
    text-shadow: -1px -1px 3px black;
    background: #8f48da;
    height: 90%;
    width: 10em;
    transform: translate3d(0, 0, 0);
    transition: transform 0.2s;
}

.slide-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.slide-menu li {
    padding: 0;
}

.slide-menu li a {
    color: #fff;
    display: block;
    padding: 0.5em 0;
}

.menu-hidden .slide-menu {
    transform: translate3d(-12em, 0, 0);
    transition: transform 0.2s;
}

.feed {
    margin: 4em 0 0;
}

.entry {
    border-bottom: 1px solid #ddd;
    padding: 1em;
    margin: 0.5em 0;
}

#blanket {
   background-color:#111;
   opacity: 0.65;
   position:absolute;
   z-index: 9001;
   top:0px;
   left:0px;
   width:100%;
}

.pop img{
    width: 1300px;
}

#popUpDiv {
    position:absolute;
    background-color:#eeeeee;
    width:900px;
    overflow: scroll;
    z-index: 9002;
}

#popUpDiv2 {
    position:absolute;
    background-color:#eeeeee;
    width:900px;
    overflow: scroll;
    z-index: 9002;
}

#popUpDiv3 {
    position:absolute;
    background-color:#eeeeee;
    width:900px;
    overflow: scroll;
    z-index: 9002;
}

#popUpDiv4 {
    position:absolute;
    background-color:#eeeeee;
    width:900px;
    overflow: scroll;
    z-index: 9002;
}

.screenshot-bar{
    margin-top: 20px;
    text-align: center;

}

.row-display{
    display: inline-flex;
    width: 100%;
}

.col-4{
    width: 25%;
    background-color: #c0c0c0;
    padding: 15px;
}

.col-4 img{
    width: 80%;
}